@import url('../css/reset.css');

body{
  background-color: #dcdcde;
  font-family: 'Belleza', 'Lato', 'Open Sans';
  margin: 0 auto;
}

.header2{
    width: 100%;
    height: 100px;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    background-color: #343b4d;
}

.header2 img{
    display: block;
    float: left;
    padding: 10px 20px 0 20px;
}

.header2 ul{
    float: right;
    padding-right: 120px;
    margin-top: 10px;
}

.header2 li{
    float: left;
    line-height: 80px;
}

.header2 li a{
    display: block;
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
}

.header2 button{
    margin-left: auto;
    position: absolute;
	top: 0;
	left: auto;
	bottom: 0;
	right: 0;   
	margin: auto;
    margin-right: 20px;
    width: 80px;
    height: 40px;
    font-size: 28px;
    background-color: transparent;
    border: 1px solid #Fff;
}

.header2 button a{
    text-decoration: none;
    color: #fff;
}

.header2 a:hover{
    color:#Faaf18
}

.header2 li:hover a{
    color: #Faaf18;
}

.header2 button:hover{
    border: 1px solid #Faaf18;
}

.header2 button:hover ~ a{
    color: #Faaf18;
}

.upper{
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding-top: 100px;
}

.content{
    width: 75%;
    max-width: 900px;
}

.content h2{
    font-size: 32px;
    font-weight: bold;
    line-height: 2;
    text-align: center;
    color: #343b4d;
    padding: 10px ;
}

.content div{
    display: flex;
    width: 88%;
    max-width: 800px;
    margin: 0 auto;
    align-items:center
}

.profileImg{
    max-width: 40px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
}

.writter{
    padding-left: 10px;
    line-height: 1.6;
    color: #606060;
}

.time{
    margin-left: auto;
    line-height: 1.6;
    color: #606060;
    text-align: right;
}

.content img{
    display: block;
    width: calc(100% - 40px);
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.content p{
    display: block;
    width: calc(100% - 20px);
    max-width: 860px;
    margin: 0 auto;
    color: #606060;
    font-size: 18px;
    line-height: 1.6;
}

.link{
    width: 25%;
    max-width: 300px;
}

.link h3{
    color: #343b4d;
    font-size: 2vw;
    font-weight: bold;
    line-height: 1.6;
    padding-top: 160px;
    text-align: center;
    display: block;
    padding-bottom: 32px;
}

.link ul{
    padding-left: 12px;
}

.link li{
    list-style-type: decimal;
}

.link a{
    display: block;
    text-decoration: none;
    color: #606060;
    font-size: 1.25vw;
    line-height: 1.6;
    padding-bottom: 20px;
    padding-left: 8px;
    
}

.link a:hover{
    color: #343b4d;
    font-weight: bold;
}

.ad{
    width: calc(100% - 20px);
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
}

.ad a:hover li{
    transform: translateY(-12px);
}

.ad h3{
    color: #343b4d;
    font-size: 2vw;
    font-weight: bold;
    line-height: 1.6;
    display: block;
    padding-bottom: 32px;
    padding-left: 20px;
}


.ad a{
    text-decoration: none;
}

.ad ul{
    display: flex;
    padding-bottom: 40px;
}

.card{
    max-width: 280px;
    aspect-ratio: 1 / 1;
    background-color: #fff;
    box-shadow: 2px 2px 4px #464646;
    border-radius: 4px;
    margin-left: 20px;
}

.card img{
    display: block;
    width: 100%;
    max-width: 280px;
    max-height: 200px;
    aspect-ratio: 280 / 200;
    border-radius: 4px 4px 0 0;
    object-fit: cover;
}

.card h4{
    padding-left: 12px;
    font-size: 1.4vw;
    font-weight: bold;
    line-height: 2;
    color: #343b4d;
    padding: 12px 0 12px 12px;
}

.footer{
    width: 100%;
    height: 60px;
    margin: 0 auto;
    background-color: #343b4d;
    clear: both;
}

.footer p{
    font-size: 16px;
    color: #faaf18;
    text-align: center;
    /* font-weight: bold; */
    line-height: 30px;
    background-color: #343b4d;
    
}

@media screen and (max-width: 820px){

    .header2{
        background-color: rgba(0, 0, 0, 0);
    }
    
    .header2 img{
        margin: 0 auto;
        width: 40%;
        max-width: 297px;
    }
    
    .header2 nav{
        display: none;
    }
    
    .header2 a{
        font-size: 16px;
    }
    
    .header2 i{
        font-size: 2em;
        color: #faaf18;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        padding: 10px;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
    }
    
    /* 顯示選單列表 */
    .menu-show .menu {
        display: block;
        position: fixed;
        width: 100%;
        min-width: 200px;
        height: calc(100vh - 100px);
        height: 100%;
        top: 100px;
        right: 0;
        background-color: rgba(52, 59, 77, 40%);
        transition: all .5s;
    }
    
    .menu-show .menu ul{
        width: 100%;
        margin: 0 auto;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .menu-show .menu li{
        width: 150px;
        align-items: center;
        text-align: center;
        border-bottom: 1px solid #dcdcde;
    }

    .footer p{
        background-color: #343b4d;
        font-size: 14px;
    }

    .ad h3{
        font-size: 2.8vw;
    }

    .upper{
        flex-direction: column;
        width: 95%;
        align-items: center;
    }

    .content{
        width: 90%;
    }

    .link{
        width: 90%;
        max-width: none;
    }

    .link h3{
        font-size: 2.8vw;
        padding-top: 32px;
    }

    .link a{
        font-size: 16px;
    }


}