@import url('../css/reset.css');

body{
  background-color: #dcdcde;
  font-family: 'Belleza', 'Lato', 'Open Sans';
  margin: 0 auto;
}

.header1 {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    display: flex;
    display: block;
}

.header1:hover {
    background-color: #343b4d;
}

.header1 a:hover{
    color:#Faaf18
}

.header1 li:hover a{
    color: #Faaf18;
}

.header1 button:hover{
    border: 1px solid #Faaf18;
    color: #Faaf18;
}

.header1 img {
    display: block;
    float: left;
    padding: 10px 20px 0 20px;
}

.header1 ul {
    float: right;
    padding-right: 120px;
    margin-top: 10px;
}

.header1 li {
    float: left;
    line-height: 80px;
}

.header1 li a {
    display: block;
    /* width: 100px; */
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
}

.header1 button {
    margin-left: auto;
    position: absolute;
    top: 0;
    left: auto;
    bottom: 0;
    right: 0;
    margin: auto;
    margin-right: 20px;
    width: 80px;
    height: 40px;
    font-size: 28px;
    background-color: transparent;
    border: 1px solid white;
}

.header1 button a {
    text-decoration: none;
    color: #fff;
}

.picture{
    margin: 0 auto;
    width: 100%;
    height: 34.7vw;
    position: relative;
}

.picture img{
    width: 100%;
    height: 34.7vw;
    object-fit: cover;
    object-position: 0 -350px;
}

.topic {
    width: 70%;
    max-width: 1000px;
    min-height: 280px;
    position: absolute;
    z-index: 10;
    background-color: #fff;
    left: 50%;
    transform: translateX(-50%) translateY(-60%);
    box-shadow: 0px 4px 8px #606060;
    display: flex;
    border-radius: 12px;
}

.left{
    width: 70%;
    /* height: 21vw;
    max-height: 300px; */
    position: relative;
    background-color: #343b4d;
    border-radius: 8px 0px 0px 8px ;
    border-right: 4px dashed #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.left h2{
    margin-left: 8px;
    padding-top: 16px;
    font-size: 2.23vw;
    font-weight: bold;
    line-height: 1.6;
    color: #fff;
    justify-content: flex-start;
    text-align: center;
}

.left ul{
    padding-left: 36px;
    padding-bottom: 16px;
    list-style-type: square;
    margin-left: 10px;
    justify-content: end;
}

.left li{
    color: #a6a6a6;
    font-size: 1.12vw;
    line-height: 1.6;
}

.right{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.price{
    /* flex-grow: 3; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 2vw;
    margin: 0 auto;
}

.price p{
    padding:0 8px;
    font-size: 16px;
    color: #606060;
}

.price h2{
    justify-content: right;
    font-size: 2.22vw;
    font-weight: bold;
    line-height: 1.6;
    color: darkred;
    
}

.select{
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 12px;
}

.select h4{
    color: #343b4d;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.6;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    justify-content: space-between;
}

.number-picker {
    display: block;
    display: flex;
    padding: 2vw;
    border: 1px solid #ccc;
    background-color: #dcdcde;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    width: 80px;
    border-radius: 5rem;
    justify-content: space-between;
}

.number-picker button {
    background-color: #fff;
    border: none;
    cursor: pointer;
    height: 23px;
    width: 23px;
    border-radius: 50%;
}

.number-picker button:hover {
    background-color: #343b4d;
    color: #faaf18;
}

.right a{
    display: block;
    margin: 0 auto;
    border-radius: 12px;
    background-color: #fff;
    border: 1px solid #343b4d;
    color: #343b4d;
    font-size: 1.67vw;
    font-weight: bold;
    text-decoration: none;
    line-height: 3.4vw;
    text-align: center;
    width: 12.5vw;
    margin-bottom: 12px;
    /* position: absolute;
    top: 150px;
    left: 810px; */
}

.right a:hover{
    color: #Faaf18;
    border: 1px solid #faaf18;
}



.description{
    padding-top: 12.5vw;
    width: calc(100% - 20px);
    max-width: 1200px;
    margin: 0 auto;
}

.description p{
    color: #606060;
    font-size: 18px;
    line-height: 1.6;
    padding-bottom: 20px;
}

/* .description h3{
    color: #343b4d;
    font-size: 26px;
    font-weight: bold;
    line-height: 1.6;
    display: block;
    padding-bottom: 20px;
    padding-left: 20px;
} */

iframe{
    width: 100%;
    height: 300px;
    padding-bottom: 40px;
    padding-top: 10px;
}

.ad{
    width: calc(100% - 20px);
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
}

.ad a:hover li{
    transform: translateY(-12px);
}

.ad h3{
    color: #343b4d;
    font-size: 2vw;
    font-weight: bold;
    line-height: 1.6;
    display: block;
    padding-bottom: 32px;
    padding-left: 20px;
}


.ad a{
    text-decoration: none;
}

.ad ul{
    display: flex;
    padding-bottom: 40px;
}

.card{
    max-width: 280px;
    aspect-ratio: 1 / 1;
    background-color: #fff;
    box-shadow: 2px 2px 4px #464646;
    border-radius: 4px;
    margin-left: 20px;
}

.card img{
    display: block;
    width: 100%;
    max-width: 280px;
    max-height: 200px;
    aspect-ratio: 280 / 200;
    border-radius: 4px 4px 0 0;
    object-fit: cover;
}

.card h4{
    padding-left: 12px;
    font-size: 1.4vw;
    font-weight: bold;
    line-height: 2;
    color: #343b4d;
    padding: 12px 0 12px 12px;
}


.footer{
    width: 100%;
    height: 60px;
    margin: 0 auto;
    background-color: #343b4d;
    clear: both;
}

.footer p{
    font-size: 16px;
    color: #faaf18;
    text-align: center;
    /* font-weight: bold; */
    line-height: 30px;
}

/*  RWD  */

@media screen and (max-width: 1000px){
  
    .header1 img{
        margin: 0 auto;
        width: 40%;
    }

    .header1 nav{
        display: none;
    }

    .header1 a{
        font-size: 16px;
    }

    .header1 i{
        font-size: 2em;
        color: #faaf18;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        padding: 10px;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
    }

    .header1:hover{
        background-color: rgba(52, 59, 77, 40%);
    }
    
    /* 顯示選單列表 */
    .menu-show .menu {
        display: block;
        position: fixed;
        width: 100%;
        min-width: 200px;
        height: calc(100vh - 100px);
        height: 100%;
        top: 100px;
        right: 0;
        background-color: rgba(52, 59, 77, 40%);
        transition: all .5s;
    }

    .menu-show .menu ul{
        width: 100%;
        margin: 0 auto;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-show .menu li{
        width: 150px;
        align-items: center;
        text-align: center;
        border-bottom: 1px solid #dcdcde;
    }

    .picture{
        height: 200px;
    }

    .picture img{
        height: 200px;
        object-position: 0 -100px;
    }
    
    .topic{
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 0;
        transform: translateX(0%) translateY(-0%);
        margin: 0 auto;
        position: relative;
        left: 0%;
        margin-top: 10px;
        box-shadow: 0px 0px 0px #606060;
        background-color: #fff;
        border-radius: 8px;
    }

    .left{
        background-color: #fff;
        width: 60%;
        border-right: 0px;
    }

    .left h2{
        font-size: 20px;
        padding-top: 10px;
        color: #343b4d;
    }

    .left ul{
        padding-top: 10px;
        width: calc(80% - 10px);
    }

    .left li{
        font-size: 14px;
        width: 80%;
    }

    .description{
        width: calc(95% - 10px);
        padding-top: 12px;
    }

    .description p{
        font-size: 14px;
    }

    .right{
        width: 40%;
        display: flex;
    }

    .price{
        margin-bottom: 8px;
        padding: auto;
        align-self: center;
    }

    .select{
        margin: 0 20px;
        padding: auto;
        margin: 0 auto;
    }

    .select h4{
        font-size: 16px;
    }

    .ad h3{
        font-size: 2.8vw;
    }

    .footer p{
        background-color: #343b4d;
    }


} 

@media screen and (max-width: 430px){
    .picture{
        height: 150px;
    }

    .picture img{
        height: 150px;
        object-position: 0 -100px;
    }
    
    .topic{
        display: flex;
        flex-direction: column;
        width: 90%;
        align-content: center;
        align-items: center;
    }

    .left{
        width: 100%;
        border-radius: 8px;
    }

    .right{
        width: 100%;
        padding-top: 10px;
        margin-top: 10px;
        border-top: 0.5px solid #343b4d;
    }

    .right h2{
        font-size: 20px;
    }

    .price{
        margin-bottom: 0px;
    }

    .right a{
        font-size: 16px;
        width: 120px;
        line-height: 1.6;
    }

    .description{
        padding-top: 16px;
    }

    .ad h3{
        font-size: 20px;
    }

}