@import url('../css/reset.css');

body{
    background-color: #dcdcde;
    font-family: 'Belleza', 'Lato', 'Open Sans';
    margin: 0 auto;
    height: 100%;
    display: flex; /*使物件依序排列*/
    flex-direction: column; /*使物件垂直排列*/
}

.header1{
    width: 100%;
    height: 100px;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    display: flex;
    display: block;
}

.header1:hover{
    background-color: #343b4d;
}

.header1 a:hover{
    color:#Faaf18
}

.header1 li:hover a{
    color: #Faaf18;
}

.header1 button:hover{
    border: 1px solid #Faaf18;
    color: #Faaf18;
}

.header1 img{
    display: block;
    float: left;
    padding: 10px 20px 0 20px;
}

.header1 ul{
    float: right;
    padding-right: 120px;
    margin-top: 10px;
}

.header1 li{
    float: left;
    line-height: 80px;
}

.header1 li a{
    display: block;
    /* width: 100px; */
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
}

.header1 button{
    margin-left: auto;
    position: absolute;
	top: 0;
	left: auto;
	bottom: 0;
	right: 0;   
	margin: auto;
    margin-right: 20px;
    width: 80px;
    height: 40px;
    font-size: 28px;
    background-color: transparent;
    border: 1px solid white;
}

.header1 button a{
    text-decoration: none;
    color: #fff;
}

.picture{
    margin: 0 auto;
    width: 100%;
    height: 30%;
    background-image: url(../img/blogBanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* background-position: 0 -80px; */
    flex-grow: 1; 
}

.picture h2{
    display: block;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.6;
    color: #fff;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 60px;
}

.content{
    width: 85%;
    max-width: 1200px;
    background-color: #dcdcde;
    margin: 0 auto;
    flex-grow: 2; 
}

.content a{
    text-decoration: none;
}

.content a:hover .RM{
    color: #faaf18;
}

.content a:hover li{
    transform: translateX(-12px);
}

.card{
    width: 100%;
    height: 24vh;
    min-height: 280px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 2px 2px 4px #464646;
    margin: 20px 0;
    padding-right: 20px;
    display: flex;
}

.card .word{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 95%;
    padding-bottom: 4px;
}


.card img{
    display: block;
    padding: 20px;
    width: 35%;
    min-width: 380px;
    max-height: 260px;
    object-fit: cover;
}

.card h3{
    color: #343b4d;
    font-size: 26px;
    font-weight: bold;
    line-height: 1.6;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 20px;
    justify-items: flex-start;
    margin-bottom: 0px;
}

.card p{
    color: #606060;
    font-size: 16px;
    line-height: 1.6;
    display: block;    
}


.RM{
    align-self: flex-end;
    justify-self: flex-end;
}

.footer {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    background-color: #343b4d;
    clear: both; 
}

.footer p {
    font-size: 16px;
    color: #faaf18;
    text-align: center;
    /* font-weight: bold; */
    line-height: 30px;

}

/* RWD */

@media screen and (max-width: 1000px){
  
    .header1 img{
        margin: 0 auto;
        width: 40%;
    }

    .header1 nav{
        display: none;
    }

    .header1 a{
        font-size: 16px;
    }

    .header1 i{
        font-size: 2em;
        color: #faaf18;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        padding: 10px;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
    }

    .header1:hover{
        background-color: rgba(52, 59, 77, 40%);
    }
    
    /* 顯示選單列表 */
    .menu-show .menu {
        display: block;
        position: fixed;
        width: 100%;
        min-width: 200px;
        height: calc(100vh - 100px);
        height: 100%;
        top: 100px;
        right: 0;
        background-color: rgba(52, 59, 77, 40%);
        transition: all .5s;
    }

    .menu-show .menu ul{
        width: 100%;
        margin: 0 auto;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-show .menu li{
        width: 150px;
        align-items: center;
        text-align: center;
        border-bottom: 1px solid #dcdcde;
    }

    .card p{
        
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
    }

    .card img{
        min-width: 200px;
    }

    .footer p{
        background-color: #343b4d;
    }

}

@media screen and (max-width: 600px){

    .picture h2{
        padding-top: 80px;
        padding-bottom: 40px;
        font-size: 28px;
    }
    
    .picture{
        max-height: 200px;
    }

    .card{
        min-height: 200px;
    }
    
    .card h3{
        font-size: 4vw;
        padding: 12px;
    }

    .card p{
        font-size: 3vw;
        
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }
    
    .card img{
        width: 25%;
        min-width: 120px;
        padding: 12px;
    }
}


    