@import url('../css/reset.css');

body{
    background-color: #dcdcde;
    font-family: 'Belleza', 'Lato', 'Open Sans';
    margin: 0 auto;
    height: 100%;
    display: flex; /*使物件依序排列*/
    flex-direction: column; /*使物件垂直排列*/
}

.header1{
    width: 100%;
    height: 100px;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    display: flex;
    display: block;
}

.header1:hover{
    background-color: #343b4d;
}

.header1 a:hover{
    color:#Faaf18
}

.header1 li:hover a{
    color: #Faaf18;
}

.header1 button:hover{
    border: 1px solid #Faaf18;
    color: #Faaf18;
}

.header1 img{
    display: block;
    float: left;
    padding: 10px 20px 0 20px;
}

.header1 ul{
    float: right;
    padding-right: 120px;
    margin-top: 10px;
}

.header1 li{
    float: left;
    line-height: 80px;
}

.header1 li a{
    display: block;
    /* width: 100px; */
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
}

.header1 button{
    margin-left: auto;
    position: absolute;
	top: 0;
	left: auto;
	bottom: 0;
	right: 0;   
	margin: auto;
    margin-right: 20px;
    width: 80px;
    height: 40px;
    font-size: 28px;
    background-color: transparent;
    border: 1px solid white;
}

.header1 button a{
    text-decoration: none;
    color: #fff;
}

.picture{
    margin: 0 auto;
    width: 100%;
    height: 500px;
    background-image: url(../img/blogBanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* background-position: 0 -80px; */
    flex-grow: 1; 
}

.picture h2{
    display: block;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.6;
    color: #fff;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 60px;
}

.content{
    width: 1200px;
    background-color: #dcdcde;
    margin: 0 auto;
    flex-grow: 2; 
}

.content a{
    text-decoration: none;
}

.content a:hover .RM{
    color: #faaf18;
}

.content a:hover li{
    transform: translateX(-12px);
}

.card{
    width: 1180px;
    height: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 2px 2px 4px #464646;
    margin: 20px 0;
    position: relative;
    padding-right: 20px;
}


.card img{
    float: left;
    display: block;
    padding: 20px;
    height: 260px;
    min-width: 462px;
    object-fit: cover;
}

.card h3{
    color: #343b4d;
    font-size: 26px;
    font-weight: bold;
    line-height: 1.6;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 20px;
}

.card p{
    color: #606060;
    font-size: 16px;
    line-height: 1.6;
    display: block;
}

.RM{
    position: absolute;
    top: 260px;
    left: 1100px;
}

.footer {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    background-color: #343b4d;
    clear: both;
    
    
}

.footer p {
    font-size: 16px;
    color: #faaf18;
    text-align: center;
    /* font-weight: bold; */
    line-height: 30px;

}