@import url('../css/reset.css');

.number-picker {
    display: block;
    display: flex;
    padding: 30px;
    margin: 30px;
    /* display: inline-block; */
    border: 1px solid #8b0000;
    background-color: #dcdcde;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    width: 100px;
    border-radius: 5rem;
    justify-content: space-between;
}

.number-picker button {
    background-color: #fff;
    border: none;
    cursor: pointer;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    
}

.number-picker button:hover {
    background-color: #343b4d;
    color: #faaf18;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }