@import url('../css/reset.css');

body{
  background-color: #dcdcde;
  font-family: 'Belleza', 'Lato', 'Open Sans';
  margin: 0 auto;
}

.wrapper{
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 10%;
}

.img{
    display: block;
    width: 100%;
    max-height: 400px;
    margin: 0 auto;
    padding-top: 20px;
    object-fit: cover;
    object-position: 0 -55px;
}

.wrapper h2{
    font-size: 32px;
    font-weight: bold;
    line-height: 2;
    text-align: center;
    color: #343b4d;
}

.wrapper p{
    display: block;
    width: 85%;
    max-width: 1000px;
    margin: 0 auto;
    color: #606060;
    font-size: 18px;
    line-height: 1.6;
    padding-bottom: 10px;
}

.content{
    display: flex;
}

.left{
    width: 60%;
    max-width: 690px;
    margin-right: auto;
    padding-bottom: 20px;
    margin-top: 30px;
}

.left ul{
    display: block;
}

.left li{
    box-sizing: border-box;
    height: 150px;
    margin-bottom: 15px;
    }

.left img{
    float: left;
    border-radius: 50%;
    display: block;
    margin-top: 10px;
    margin-bottom: 30px;
    padding:0 20px;
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.left h3{
    color: #343b4d;
    font-size: 26px;
    font-weight: bold;
    line-height: 1.6;
    padding-bottom: 10px;
    padding-top: 20px;

}

.left p{
    color: #606060;
    font-size: 16px;
    line-height: 1.6;
    display: block;
    width: 100%;
}

.right{
    width: calc(40% - 10px);
    max-width: 490px;
    max-height: 840px;
    margin-left: auto;
    margin-top: 30px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 2px 2px 4px #464646;
    display: flex;
    flex-direction: column;
    margin-right: 4px;
}

.right hr{
    width: calc(100% * 0.9);
    color: #606060;
    margin: 12px auto;
}

.right h3{
    width: 100%;
    color: #343b4d;
    font-size: 26px;
    font-weight: bold;
    line-height: 1.6;
    padding: 20px 0 20px 0;
    text-align: center;
    margin: 0 auto;
}

.right ul{
    
    list-style-type: square;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.right li{
    color: #606060;
    font-size: 16px;
    line-height: 1.6;
}

.radio{
    padding-top: 8px;
    /* display: block; */
    margin: 0 auto;
    max-width: 470px;
}

.radio h4{
    color: #343b4d;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.6;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.option{
    width: 90%;
    max-width: 420px;
    margin-left: 24px;
    display: flex;
    align-items: center;
    padding-bottom: 4px;
}

.radio input{
    width: 24px;
}

.radio label{
    color: #606060;
    font-size: 18px;
    font-weight: bold;
    line-height: 2;
}

.radio h5{
    text-align-last: right;
    color: darkred;
    font-size: 18px;
    font-weight: bold;
    line-height: 2;
    margin-left: auto;
}

.radio p{
    /* display: block; */
    color: #606060;
    font-size: 16px;
    line-height: 1.6;
    max-width: 420px;
    margin-left: 46px;
    margin-right: 20px;
}

.select{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.select h4{
    color: #343b4d;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.6;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    
}

.number-picker {
    display: block;
    display: flex;
    padding: 30px;
    margin: 30px 0 30px auto;
    /* display: inline-block; */
    border: 1px solid #ccc;
    background-color: #dcdcde;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    width: 100px;
    border-radius: 5rem;
    justify-content: space-between;
}

.number-picker button {
    background-color: #fff;
    border: none;
    cursor: pointer;
    height: 23px;
    width: 23px;
    border-radius: 50%;
}

.number-picker button:hover {
    background-color: #343b4d;
    color: #faaf18;
}

.right a{
    margin: 0 auto;
    display: block;
    border-radius: 12px;
    background-color: #343b4d;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    line-height: 50px;
    text-align: center;
    width: 200px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.right a:hover{
    color: #Faaf18;
}

.footer{
    width: 100%;
    height: 60px;
    margin: 0 auto;
    background-color: #343b4d;
    clear: both;
}

.footer p{
    font-size: 16px;
    background-color: #343b4d;
    color: #faaf18;
    text-align: center;
    /* font-weight: bold; */
    line-height: 30px;
}

/*  RWD  */

@media screen and (max-width: 820px){

.header2{
    background-color: rgba(0, 0, 0, 0);
    height: 80px;
}

.header2 img{
    margin: 0 auto;
    width: 40%;
    max-width: 297px;
}

.header2 nav{
    display: none;
}

.header2 a{
    font-size: 16px;
}

.header2 i{
    font-size: 1.8em;
    color: #faaf18;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 4px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

/* 顯示選單列表 */
.menu-show .menu {
    display: block;
    position: fixed;
    width: 100%;
    min-width: 200px;
    height: calc(100vh - 100px);
    height: 100%;
    top: 100px;
    right: 0;
    background-color: rgba(52, 59, 77, 40%);
    transition: all .5s;
}

.menu-show .menu ul{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-show .menu li{
    width: 150px;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #dcdcde;
}

.wrapper{
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.wrapper h2{
    padding: 8px;
    padding-bottom: 12px;
    line-height: 1.6;
}

.content{
    flex-direction: column;
}

.left{
    margin: 0 auto;
    width: 90%;
    max-width: 1000px;
}

.left ul{
    width: 100%;
    margin: auto 12px;
    display: flex;
    flex-direction: column;
}


.left li{
    margin-top: 16px;
    width: calc(100% - 12px);
    display: grid;
    grid-template-columns: 120px 1fr 1fr 1fr;
    grid-template-rows: 30% auto;
    grid-template-areas: 'img h3 h3 h3'
                         'img p p p';
    grid-gap: 4px;
}

.left img{
    grid-area: img;
    width: 100px;
    height: 100px;
    aspect-ratio: 1 / 1;
    padding: 4px;
    justify-content: center;
}

.left h3{
    grid-area: h3;
    line-height: 1.2;  
    padding-top: 4px;
    font-size: 1.6em;
}

.left p{
    grid-area: p;
    padding-bottom: 4px;
    font-size: 0.9em;
}

.right{
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 10px;
    margin-bottom: 20px;
}

}

@media screen and (max-width: 500px){
    
    .left li{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left p{
        display: none;
    }

    .left img{
        margin-bottom: 0px;
        border-radius: 0;
        width: calc(100% - 8px);
        height: auto;
        max-height: 120px;
    }

    .left h3{
        font-size: 5vw;
    }
}





